    :root {
      /* Fonts */
      --main-font: "Roboto", sans-serif;
      --secondary-font: "Raleway", sans-serif;
      /* Tetx colors */
      --main-txt-cl: ##212121;
      --secondary-txt-cl: ##757575;
      --accent-txt-cl: #2196F3;
      --light-txt-cl: #ffffff;
      /* Background colors */
           
    }
    
    /*Base styles*/
    body {
      font-family: var(--main-font);
      color: var(--main-txt-cl);
      font-size: 16px;
      line-height: 1.62;
    }
    
    a {
      text-decoration: none;
    }
  
    li {
      display: inline-block;
    }
  
    
   
    .section-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.5;
    }
    
    .small-txt {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
    }
   
  .buttons {
      color: #212121;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.63;
      cursor: pointer;
    }
 
  .buttons .link:hover,
  .buttons .link:focus, 
  .buttons .link:visited,
  .buttons .link:active {
      background-color: var( --accent-txt-cl)}

    
/*Header section*/
    .header

    .logo {
      font-weight: 700;
      font-size: 30px;
      line-height: 1.2;
      color: var(--logo-cl);
    }

    .web {
      color: #2196F3;}
    
    .header-nav {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: #212121;
     }
  
    .header-contacts {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: #757575;
    }
    
  .header-contacts .link:hover {
    background-color: var(--accent-color)
  }
  
  /*Hero section*/
    
    .hero {
      background-color: #2F303A;
      width: 1600px;
      height: 600px;
    }

    .hero-title { 
      color: #FFFFFF;
      font-weight: 700;
      font-size: 44px;
      line-height: 1.36;
    }
        
    .hero-btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      color: #FFFFFF;
      background-color: #2196F3;}

    /*Features section*/
    
    .title {
      color: #FFFFFF;
    } 
    
    .slogan {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
    }
    
    .subtitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.71;
      color: #757575;
    }
    

    
    /*Collaboration section*/
    .main-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
    }
        
    
    /*Staff section*/
    .stuff-list {
    font-weight: 500;
    line-height: 1.89;
     }

     .stuff-position
     {font-weight: 500;
      line-height: 1.89;
      color: #757575;
    }

     

/*Portfolio section*/
.projects {}

.portfolio-btn {

font-weight: 500;
line-height: 1.62;
}

/*.portfolio-btn .link:hover,
.portfolio-btn .link:focus, 
.portfolio-btn .link:visited,*/


.portfolio-btn.link:active {
    color: var (-light-txt-cl);  
    background-color: var( --accent-txt-cl)
  }

.project-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.filter {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}



/*Footer section*/
.footer {
background-color: #2F303A;}

.studio {color: #FFFFFF;}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
} 
    




















   















      
   
      
     
      
   
  
   
      
      
     